@{
    if (ViewData["ControlId"] == null)
    {
        ViewData["ControlId"] = "albumElegidoId";
    }
    var controlId = ViewData["ControlId"] as string;
    if (ViewData["ControlNombre"] == null)
    {
        ViewData["ControlNombre"] = "regAlbumElegidoNombre";
    }
    var controlNombre = ViewData["ControlNombre"] as string;
}

<script type="text/javascript">
     $(function() {
         $(".ac-album").autocomplete({
             source: function (request, response) {
                 $.ajax({
                     url: '/Albumes/Traer',
                     data: 'nombre=' + request.term,
                     success: function (data) {
                         response(_.map(data, function(i) { return { id: i.Id, value: i.Nombre }; }));
                     }
                 });
             },
             minLength: 3,
             select: function (event, ui) {
                 $("input[name=@controlId]").val(ui.item.id);
                 $("#@controlNombre").text(ui.item.value);
             }
         });
     });
 </script>
@Html.TextBox("albumBusqueda", "", new {Class = "ac-album"})
@Html.Hidden(controlId, 0)
<span>Álbum elegido: <span id="@controlNombre">Ninguna</span> </span>