@model IEnumerable<Politecnico.Patrones.ProyectoFinal.Web.Models.ReporteDefinicion>
@{
    ViewBag.Title = "Listado de reportes";
}

<h2>Listado de reportes</h2>
@if (!string.IsNullOrEmpty(ViewBag.Mensaje)) {
    <span class="advertencia">@ViewBag.Mensaje</span>
}

<ul>
@foreach (var item in Model) {
    <li>
        <span>@item.Etiqueta</span>
        @Html.ActionLink("En linea", "Reporte", new {item.Tipo})
        @if (item.PermitirPdf) {
            @Html.ActionLink("PDF", "Reporte", new {item.Tipo, dest = 1 })
        }
    </li>
}
</ul>