@using Politecnico.Patrones.ProyectoFinal.Contratos.VO
@{
    ViewBag.Title = "Reportes";
    var tipo = ViewData["Tipo"] is TipoReporte ? (TipoReporte)ViewData["Tipo"] : TipoReporte.ListaCanciones;
    var nombre = ViewData["Nombre"];
    var destino = (int) ViewData["Destino"];
    var vistaParametros = ViewData["ParametrosReporte"] as string;
}

<h2>@nombre</h2>

@using (Html.BeginForm("Traer", "Reportes", FormMethod.Post)) {
    @Html.Hidden("tipo", tipo)
    @Html.Hidden("destino", destino)
    @Html.Partial(vistaParametros)

    <input type="submit" value="Consultar" />
}