@using Politecnico.Patrones.ProyectoFinal.Contratos.MV
@using Politecnico.Patrones.ProyectoFinal.Web
@model IEnumerable<MVAlbumDetallado>

<table class="t1">
    @foreach (var item in Model) {
        <tr>
            <td colspan="2">
                <span>@Html.ActionLink(item.Nombre, "Detalle", "Albumes", new {id=item.Id}, null)</span>
                <span class="votos">Votos: @Html.DisplayFor(modelItem => item.TotalVotos)</span>                
            </td>
        </tr>
        <tr>
            <td class="etiq">
                Intérpretes
            </td>
            <td>
                @Utiles.ResumenInterpretes(item.Interpretes)
            </td>
        </tr>
        <tr>
            <td class="etiq">
                Canciones
            </td>
            <td>
                @{
                    var cancionLista = new MVCancionLista
                        {
                            Canciones = item.Canciones,
                            MostrarAlbum = false,
                            MostrarCabecera = false,
                        };
                }
                @Html.Partial("~/Views/Canciones/_Canciones.cshtml", @cancionLista)
            </td>
        </tr>
    }

</table>