@using Politecnico.Patrones.ProyectoFinal.Contratos.MV
@model Politecnico.Patrones.ProyectoFinal.Web.Models.MVListaInterpretes

<table>
    @foreach (MVInterprete item in Model.ListaInterpretes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (Model.Editable) {
                    foreach (var accion in Model.AccionesEditar) {
                        <span>
                            @Html.ActionLink(accion.Item1, accion.Item2, Model.Controlador, new
                                {
                                    albumId = @Model.PadreId, 
                                    interpreteId = item.Id
                                }, null)
                        </span>
                    }
                }
            </td>
        </tr>
    }    
</table>