@model Politecnico.Patrones.ProyectoFinal.Contratos.Entidades.Album

@{
    ViewBag.Title = "Detalle de Album";
}

<h2>Detalle de Album</h2>

<fieldset>
    <legend>Álbum</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new {id = Model.Id}) |
    @Html.ActionLink("Volver al listado", "Index")
</p>