@using Politecnico.Patrones.ProyectoFinal.Contratos.MV
@model MVAlbumDetallado

@{
    ViewBag.Title = "Detalle de Album";
}

<fieldset>
    <legend><span>Detalle de Album</span></legend>
    @Html.Partial("~/Views/Albumes/_Albumes.cshtml", new MVAlbumLista {Albumes = new List<MVAlbumDetallado> {Model}})
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new {id = Model.Id}) |
    @Html.ActionLink("Volver al listado", "Index")
</p>