@{
    ViewBag.Title = "Iniciar Sesion";
}

<h2>Iniciar Sesion</h2>

@Html.ValidationSummary()
<form method="POST">
    <table>
        <tr>
            <td>Correo electrónico</td>
            <td>@Html.TextBox("correo")</td>
        </tr>
        <tr>
            <td>Clave</td>
            <td>@Html.Password("clave")</td>
        </tr>
    </table>
    <input type="submit" value="Enviar" />
</form>