@model Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVCancion

@{
    ViewBag.Title = "Detalle de canción";
}

<fieldset>
    <legend><span>Canción</span></legend>
    @Html.Partial("_Cancion", Model)
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new {id = Model.Id}) |
    @Html.ActionLink("Volver al listado", "Index")
</p>