@model IEnumerable<Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVCancion>

@{
    ViewBag.Title = "Lista de canciones";
}

<h2>Listado de canciones</h2>

<p>
    @Html.ActionLink("Crear canción", "Crear")
</p>
<table>
    @foreach (var item in Model) {
        <tr>
            <td style="border-bottom: 1px seagreen solid">
                @Html.Partial("_Cancion", item)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.Id}) |
                @Html.ActionLink("Ver detalle", "Detalle", new {id = item.Id}) |
            </td>
        </tr>
    }

</table>