@model IEnumerable<Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVCancion>

<h2>Las más votadas</h2>

<table class="t1">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.Partial("_Cancion", item)
            </td>
        </tr>
    }
</table>