@model Politecnico.Patrones.ProyectoFinal.Lib.Entidades.Interprete

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Interprete</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver al listado", "Index")
    </p>
}