@model Politecnico.Patrones.ProyectoFinal.Lib.Entidades.Interprete

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<fieldset>
    <legend>Interprete</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Editar", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
